<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Recipes</title>
</head>
<body>
<h1>Welcome to My Recipes</h1>
<a class="add-recipe-link" href="/users/<%=user._id%>/recipes/new"
   >Add a Recipe</a>


<% recipes.forEach((recipe) => { %>
    <li>
        <a href="/users/<%= user._id %>/recipes/<%= recipe._id %>">
            <%= recipe.name %> at <%= recipe.instructions %>
        </a>
    </li>
<% }); %>


</body>
</html>
