<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1><%= recipe.name %></h1>
<p><strong>Instructions:</strong> <%= recipe.instructions %></p>
<% if (recipe.ingredients && recipe.ingredients.length) { %>
    <h4>Ingredients:</h4>
    <ul>
        <% recipe.ingredients.forEach(ingredient => { %>
            <li><%= ingredient.name %></li>
        <% }) %>
    </ul>
<% } %>
<form action="/users/:userId/recipes/<%= recipe._id %>?_method=DELETE" method="POST">
    <button type="submit">Delete</button>
</form>

<a  href="/users/<%=user._id%>/recipes/<%=recipe._id%>/edit">Edit Recipe

</a>


<a href="/users/:userId/recipes">Back to recipes</a>


</body>
</html>